@model IEnumerable<ContactManagement.Models.ContactViewModel>

@{
    ViewData["Title"] = "Contacts";
}

@if (TempData.ContainsKey("CreateFailure") && Convert.ToBoolean(TempData["CreateFailure"]))
{
<div class="alert alert-danger" role="alert">
    The record failed to be created.
</div>
}


@if (TempData.ContainsKey("UpdateFailure") && Convert.ToBoolean(TempData["UpdateFailure"]))
{
<div class="alert alert-danger" role="alert">
    The record failed to be updated.
</div>
}

<a class="btn btn-primary" asp-controller="Contact" asp-action="Create">Create New Contact</a>

@if (Model != null && Model.Count() > 0)
{
    <table id="contactTable" class="table" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                    <br />
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastDateContacted)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href='@Url.Action("Edit", "Contact", new { id = item.id})'">
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                        <br />
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastDateContacted)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No contacts found.</p>
}
